.DetailedButton{
    background-color: #535bf2;
    opacity: 1;
    border: 1.5px solid #33389a;
    border-radius: 5px;
    margin: 4px;
    padding: 9px;
    font-size: 15px;
    color: white

}
.DetailedButton:hover{
    background-color: #44bcd1;
    border-color: #246e56;
}

.RemBtn {
    background-color: #75a1f3;
    color: white;
    border: 1.5px solid #33389a;
    border-radius: 5px;
    margin: 4px;
    padding: 9px;
    font-size: 14px;
}

.RemBtn:hover {
    background-color: #535bf2;
    opacity: 0.5;
    border: 1.5px solid #33389a;
}