.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.header-container nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-container nav h1 {
    margin-right: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
select, input[type="text"] {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #7a99ea;
    font-family: "Arial Narrow";
    color: #1a1a1a;
    margin: 10px;

}

.ShowFavBtn{
    background-color: #75a1f3;
    color: white;
    border: 1.5px solid #33389a;
    border-radius: 5px;
    margin: 4px;
    padding: 9px;
    font-size: 14px;
}
